/*1439px-769px*/

@media(max-width:1212px) {

    /*footer*/
    .footer {
        padding-inline: 98px;
    }


    /*contact section*/

}



@media (max-width: 1025px) {

    /*header*/
    .header {
        padding-inline: 45px;
    }

    .header_nav {
        position: fixed;
        top: 99px;
        left: -100%;
        background-color: #C46A2B;
        width: 200px;
        height: 144px;
        padding: 16px 56px 16px 16px;
        transition: .3s linear;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 8px;
    }

    .header_burger {
        display: block;
    }

    .show {
        left: 0;
    }


    .header_li_link:hover {
        font-size: var(--header);
    }


    /*section2*/

    .section2 {
        padding-inline: 45px 0;
    }

    .section2_section {
        overflow-x: scroll;
    }

    .section2_section_article {
        flex: 1 0 282px;
    }





    /*catalog*/


    .cagalog_main_section {
        padding-inline: 45px;
    }

    .card12,
    .card11,
    .card10,
    .card9 {
        display: none;
    }


    .cagalog_main_section {
        padding: 48px 32px;
    }

    .card8,
    .card7 {
        display: none;

        .contact_main_section {
            padding-right: 45px;
        }



        /*footer*/

        .footer {
            padding-inline: 98px;
        }



        /*contact section*/

    }

    @media(max-width:934px) {
        .card9 {
            display: none;
        }
    }




    @media(max-width:745px) {

        /*header*/
        .header {
            padding-inline: 32px;
        }



        /*section1*/
        .section1 {
            height: 480px;
            padding-top: 32px;
        }


        .firts_section_box {
            padding-inline: 65px;
        }


        .footer {
            padding-inline: 32px;
        }
    }

