/*480px-320px*/

@media (max-width:321px) {

    /*header*/
    .header {
        padding-inline: 8px;
    }


    /*section1*/

    .section1 {
        height: 320px;
    }

    /*section2*/



    .section2 {
        padding-inline: 8px;
    }

    .cagalog_main_section {
        padding-inline: 8px;
        row-gap: 40px;
    }

    /*contact*/
    .contact_main_section {
        padding-inline: 8px;
    }
}