@import url(variable.css);


.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 99px;
}


/*header*/
.header {
    padding: 16px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header_color);
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


.header_ul {
    display: flex;
    column-gap: 72px;
}

.header_li_link {
    font-family: "Inter", sans-serif;
    font-size: var(--header);
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: var(--header_text_color);
}


.header_li_link:hover {
    font-size: 28px;
    text-shadow: 0 0 10px #05BCCACC,
        0 0 20px #05BCCACC,
        0 0 30px #05BCCACC;
}


.header_logo_link:hover{
    filter: drop-shadow(0 0 10px #C46A2B);
}


.header_button_section {
    display: flex;
    column-gap: 32px;
}


.header_button_link:hover {

    filter: drop-shadow(0 0 15px #05BCCACC);
}

.xmark {
    display: none;
}

.header_burger {
    display: none;
}


/*section1*/


.section1 {
    height: 560px;
    background-image: url(../images/section1_cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 72px;
}


.section1_title_article {
    display: flex;
    align-items: center;
    column-gap: 24px;
    animation: title 2s ease-in-out infinite;
}

@keyframes title {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
        opacity: 0;
    }
}


h2 {
    font-family: "Inter", sans-serif;
    font-size: var(--section1);
    font-weight: 400;
    line-height: 36px;
    color: #05BCCA;
}

h2::before {
    content: "NEW";
    color: white;
}

.section1_title_button {
    width: 36px;
    height: 24px;
    border: none;
    border-radius: 4px;
    background-color: #C46A2B;
}

.direction {
    font-size: 18px;

    color: #D9D9D9;
}



/*section2*/


.section2 {
    background-color: var(--section_color);
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding: 96px 94px;
    ;
}


h3 {
    font-family: "Inter", sans-serif;
    font-size: var(--section2);
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
    text-align: center;
    animation: title2 2s ease-in-out infinite;
}


@keyframes title2 {

    0%,
    100% {
        transform: translatex(30px);

    }

    50% {
        transform: translatex(-30px);

    }
}



h3::after {
    content: "";
    width: 188px;
    height: 2px;
    background-color: #05BCCA;
    margin: 8px auto;
    display: block;
}


.section2_section {
    display: flex;
    column-gap: 20px;

}


.section2_section_article {
    background-color: var(--cards_and_footer_color);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 8px 8px 16px;
}


.section2_section_article:hover {
    box-shadow: 0 0 8px 4px #05BCCACC;
}

.section2_section_article_img {
    object-fit: cover;
    width: 100%;
    height: 290px;
}


.section2_section_article_article {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}




.section2_article_span {
    font-family: "Inter", sans-serif;
    font-size: var(--footer_and_cards);
    font-weight: 700;
    line-height: 27px;
    color: var(--footer_and_catalog_text_color);
}

.article_price {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.star_article {
    display: flex;
    column-gap: 4px;
}

.article_price_950 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: var(--button2_color);
}


.section2_article_star_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/*catalog*/


/*first section*/

.cagalog_main_section {
    background-color: var(--header_color);
    padding-block: 96px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}


.catalog_first_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_article {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.filter_span {
    font-family: "Inter", sans-serif;
    font-size: var(--header);
    font-weight: 700;
    line-height: 32px;
    color: var(--footer_and_catalog_text_color);
}


.sort_article {
    display: flex;
    align-items: center;
}


.sort_span {
    font-family: "Inter", sans-serif;
    font-size: var(--header);
    font-weight: 700;
    line-height: 32px;
    color: var(--footer_and_catalog_text_color);
}


.Best_selling_div {
    width: 160px;
    height: 32px;
    display: flex;
    align-items: center;
    column-gap: 33px;
    background-color: var(--catalog_selling_color);
    border-radius: 4px;
    padding: 4px 8px;
}


.Best_selling_div:hover{
    filter: drop-shadow(0 0 10px #05BCCACC);
}

.Best_selling_span {
    font-family: "Inter", sans-serif;
    font-size: var(--footer_and_cards);
    font-weight: 400;
    line-height: 24px;
    color: var(--cards_and_footer_color);
}



.sort_and_selling_article {
    display: flex;
    align-items: center;
    column-gap: 32px;
}


/*catalog main section*/


.catalog_card_main_section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 20px;
}


.firts_section_box {
    padding-inline: 94px;
}

.catalog_card_article {
    background-color: var(--cards_and_footer_color);

}

.catalog_card_article:hover {
    box-shadow: 0 0 8px 4px #05BCCACC;
}


.img_article {
    width: 298px;
    height: 298px;
}

.catalog_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_article {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px 8px;
}


/*catalog third section*/


.catalog_third_section {
    width: 394px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog_direction_button {
    width: 121px;
    height: 40px;
    border-radius: 8px;
    color: var(--footer_and_catalog_text_color);
    background-color:var( --button1_burgerbox_submit_color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;

}


.catalog_direction_button2 {
    width: 121px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: var(--footer_and_catalog_text_color);
    background-color: var(--button2_color);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.catalog_direction_button:hover{
    filter: drop-shadow(0 0 10px #05BCCACC);
}



.catalog_direction_button2:hover{
    filter: drop-shadow(0 0 10px #05BCCACC);
}



.left,
.right {
    font-size: var(--header);
}


.catalog_button_span {
    font-family: "Inter", sans-serif;
    font-size: var(--footer_and_cards);
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}


.catalog_button_span:hover{
    font-size: 20px;
}


.catalog_span {
    font-family: "Inter", sans-serif;
    font-size: var(--footer_and_cards);
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}


.third_section {
    display: flex;
    justify-content: center;
}


/*footer*/

.footer {
    background-color: var(--cards_and_footer_color);
    display: flex;
    justify-content: space-between;
    padding: 48px 306px;

}


.nav_section {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}


.footer_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}


.footer_icon_article {
    display: flex;
    column-gap: 16px;
    margin-top: 8px;
}

.footer_icon_link,
.contact_icon_link {
    animation: icon 2s ease-in-out infinite;
}

.fb {
    animation-delay: 2s;
}

.ig {
    animation-delay: 1s;
}

.whatsapp {
    animation-delay: .5s;
}

.fb:hover{
    filter: drop-shadow(0 0 10px #05BCCACC);
}
.whatsapp:hover{
    filter: drop-shadow(0 0 10px #05BCCACC);
}
.ig:hover{
    filter: drop-shadow(0 0 10px #05BCCACC);
}


@keyframes icon {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}


.h4_1,
.h4_2,
.h4_3 {
    font-family: "Inter", sans-serif;
    font-size: var(--header);
    font-weight: 400;
    line-height: 32px;
    color: var(--footer_and_catalog_text_color);
}


.h4_1::after {
    content: "";
    width: 70px;
    height: 2px;
    background-color: var(--footer_and_catalog_text_color);
    display: block;
    margin-top: 4px;
}

.h4_2::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--footer_and_catalog_text_color);
    display: block;
    margin-top: 4px;
}

.h4_3::after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: var(--footer_and_catalog_text_color);
    display: block;
    margin-top: 4px;
}


.footer_li_link {
    font-family: "Inter", sans-serif;
    font-size: var(--footer_and_cards);
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}

.footer_li_link:hover {
    font-size: 20px;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    filter: drop-shadow(0 0 10px #05BCCACC);
}



.icon_and_nav_section {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}


/*contact_section*/


.contact_main_section {
    height: 720px;
    background-image: url(../images/contact_cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 94px;
}



.dashboard_container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}



.contact_icon_article {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}


.contact_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 40px;
    background-color: var(--cards_and_footer_color);
}


.contact_email,
.contact_mobile {
    font-size:var(--header);
    color:var(--footer_and_catalog_text_color);
}

.contact_email:hover{
    filter: drop-shadow(0 0 10px #05BCCACC);
}

.contact_mobile:hover{
    filter: drop-shadow(0 0 10px #05BCCACC);
}


.gmail:hover{
    text-decoration-line: underline;
    text-underline-offset: 5px;
}


.tell:hover{
    text-decoration-line: underline;
    text-underline-offset: 5px;
}


.mail_box_link {
    font-family: "Inter", sans-serif;
    font-size: var(--footer_and_cards);
    font-weight: 400;
    line-height: 24px;
    color: var(--footer_and_catalog_text_color);
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.contact_box_link {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--footer_and_catalog_text_color);
    display: flex;
    align-items: center;
    column-gap: 16px;
}


.location {
    font-size: 80px;
    color: var(--footer_and_catalog_text_color);
}


.location:hover{
    filter: drop-shadow(0 0 10px #05BCCACC);
}


/*form*/


.contact_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 32px 103px 40px;
    gap: 16px 8px;
    grid-template-areas:
        "NAME EMAIL"
        "TEXTAREA TEXTAREA"
        "SUBMIT SUBMIT";
}


input[type=name] {
    grid-area: NAME;
    background-color: var(--cards_and_footer_color);
    outline: none;
    border: none;
    padding: 6px 8px;
    color: #FFFFFF;
    caret-color: #FFFFFF;
}

input[type=email] {
    grid-area: EMAIL;
    background-color: var(--cards_and_footer_color);
    outline: none;
    border: none;
    padding: 6px 8px;
    color: #FFFFFF;
    caret-color: white;
}


textarea[name=textarea] {
    grid-area: TEXTAREA;
    background-color: var(--cards_and_footer_color);
    resize: none;
    outline: none;
    border: none;
    padding: 6px 8px;
    color: #FFFFFF;
    caret-color: #FFFFFF;
}


button[type=submit] {
    grid-area: SUBMIT;
    background-color: var(--cards_and_footer_color);
    outline: none;
    background-color: var(--button1_burgerbox_submit_color);
    font-family: "Inter", sans-serif;
    font-size: var(--footer_and_cards);
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
}


button[type=submit]:hover{
    font-size: 20px;
    box-shadow: 0 0 8px 4px #C46A2B;
}


::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #A1C3C9;
}


/*map section*/


.map_section {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.form_and_map_section {
    display: flex;
    column-gap: 40px;
}

.contact_icon {
    font-size: var(--header);
    color: #05BCCA;
}



.contact_social_article {
    display: flex;
    column-gap: 16px;
}


.contact_icon_link {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}