/*768px-481px*/


@media(max-width:745px){
    /*section2*/
    .section2{
        padding: 48px 0 48px 32px;
    }
}


@media(max-width:719px){


    .contact_main_section{
        display: flex;
        justify-content: center;
    }


    .dashboard_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .gmail {
        display: none;
    }

    .tell {
        display: none;
    }


    .contact_section{
        width: 440px;
        height: 56px;
        display: flex;
        justify-content: center;
        column-gap: 24px;
    }

    

    .contact_main_section{
        padding-inline: 20px;
    }


    .contact_form{
        width: 440px;
    }

    .form_and_map_section{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    iframe{
        width: 440px;
    }

    .contact_icon_article{
        display: flex;
        flex-direction: row;
        column-gap: 26px;
    }

    .location{
        font-size: 24px;
    }


    .contact_box_icon{
        animation: boxicon 2s ease-in-out infinite;
    }


    .contact_email{
        animation-delay: 2s;
    }
    .contact_mobile{
        animation-delay: 1s;
    }
    .location{
        animation-delay: .5s;
    }
    


    @keyframes boxicon {

        0%,
        100% {
            transform: translateY(0);
        }
    
        50% {
            transform: translateY(-5px);
        }
    }
}

@media(max-width:481px) {

    /*header*/
    .header {
        padding: 28px 20px;
    }

    .header_logo{
        width: 40px;
        height: 40px;
    }

    .header_button{
        width: 32px;
        height: 32px;
    }

    /*section1*/

    h2 {
        font-size: 24px;
        line-height: 32px;
    }


    /*section 2*/

    .section2{
      padding: 32px 0 32px 20px;
    }


    h3{
        font-size: 24px;
        line-height: 32px;
    }


    /*catalog*/

    .Best_selling_span {
        display: none;
    }

    .Best_selling_div {
        width: 36px;
        height: 32px;
        left: 124px;
    }

    .catalog_button_span {
        display: none;
    }


    .catalog_direction_button,
    .catalog_direction_button2 {
        width: 52px;
        height: 40px;
    }


    .catalog_third_section{
        width: 280px;
    }

    /*contact section*/

 
   




    /*footer*/

    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        padding-block: 32px;
    }

    .nav_section {
        display: flex;
        align-items: center;
    }

    .footer_ul{
        align-items: center;
    }

    .icon_and_nav_section{
        align-items: center;
    }


  
}


@media(max-width:451px) {
    /*catalog*/
    .img_article {
        width: 304px;
    }
    /*contact*/
    .contact_section{
        width: 320px;
    }

    .contact_form{
        width: 320px;
    }
    iframe{
        width: 320px;
    }

   
}

